.container{
    text-align: center;
    margin-top: 30px;
}.row{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#title{
    font: bolder;
}
.col-lg-4{
    margin: 20px 0px;
}
.cardHover{
    
}
.cardHover:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.cardTitle{
    font-size: large;
    font-weight: bold;
}
.btn{
    margin: 10px 0px;
}
.image{
    border: 1px solid black;
    margin-bottom: 10px;
}
.card-text{
    margin:2px;
}